 
/* start css.sty */
.ptmr8t-x-x-1422{font-size:118%;}
.ptmr8t-x-x-248{font-size:206%;}
.ptmri8t-x-x-248{font-size:206%;font-style: italic;}
.ptmri8t-x-x-248{font-style: italic;}
.ptmri8t-x-x-248{font-style: italic;}
.ptmri8t-x-x-248{font-style: italic;}
.pcrr8tn-x-x-120{font-family: monospace;}
.pcrr8tn-x-x-120{font-family: monospace;}
.pcrr8tn-x-x-120{font-family: monospace;}
.zpzccmry-x-x-120{ font-weight: bold; font-style: italic;}
.ptmr8t-x-x-109{font-size:90%;}
.ptmr8t-{font-size:83%;}
.pcrr8tn-{font-size:83%;font-family: monospace;}
.pcrr8tn-{font-family: monospace;}
.pcrr8tn-{font-family: monospace;}
.zpzccmry-{font-size:83%; font-weight: bold; font-style: italic;}
.zptmcmr-x-x-120{ font-style: italic;}
.ptmri8t-x-x-120{font-style: italic;}
.ptmri8t-x-x-120{font-style: italic;}
.ptmri8t-x-x-120{font-style: italic;}
.ptmri8t-x-x-120{font-style: italic;}
.ptmr8t-x-x-60{font-size:50%;}
.ptmri8t-{font-size:83%;font-style: italic;}
.ptmri8t-{font-style: italic;}
.ptmri8t-{font-style: italic;}
.ptmri8t-{font-style: italic;}
.ptmb8t-{font-size:83%;  font-weight: bold;}
.ptmb8t-{  font-weight: bold;}
.pcrro8t-{font-size:83%;font-family: monospace;    font-style: oblique;}
.pcrb8t-{font-size:83%; font-weight: bold; font-family: monospace;}
.pcrb8t-{ font-weight: bold; font-family: monospace;}
.pcrb8t-{ font-weight: bold; font-family: monospace;}
.ptmb8t-x-x-120{  font-weight: bold;}
.ptmb8t-x-x-120{  font-weight: bold;}
.pcrb8t-x-x-120{ font-weight: bold; font-family: monospace;}
.pcrb8t-x-x-120{ font-weight: bold; font-family: monospace;}
.pcrb8t-x-x-120{ font-weight: bold; font-family: monospace;}
.ptmri8t-x-x-109{font-size:90%;font-style: italic;}
.ptmri8t-x-x-109{font-style: italic;}
.ptmri8t-x-x-109{font-style: italic;}
.ptmri8t-x-x-109{font-style: italic;}
.ptmbi8t-x-x-120{ font-weight: bold;   font-style: italic;}
.pcrr8tn-x-x-60{font-size:50%;font-family: monospace;}
.pcrr8tn-x-x-60{font-family: monospace;}
.pcrr8tn-x-x-60{font-family: monospace;}
.pcrb8t-x-x-60{font-size:50%; font-weight: bold; font-family: monospace;}
.pcrb8t-x-x-60{ font-weight: bold; font-family: monospace;}
.pcrb8t-x-x-60{ font-weight: bold; font-family: monospace;}
span#textcolor1{color:rgb(204,204,204)}
p.noindent { text-indent: 0em }
td p.noindent { text-indent: 0em; margin-top:0em; }
p.nopar { text-indent: 0em; }
p.indent{ text-indent: 1.5em }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
div.verbatim {font-family: monospace; white-space: nowrap; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
.tabbing-right {text-align:right;}
span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; }
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p{margin-top:0.4em; margin-bottom:0.4em;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
.quotation {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; }
h1.partHead{text-align: center}
 .chapterToc, .likechapterToc {margin-left:0em;}
 .chapterToc ~ .likesectionToc, .chapterToc ~ .sectionToc, .likechapterToc ~ .likesectionToc, .likechapterToc ~ .sectionToc {margin-left:2em;}
 .chapterToc ~ .likesectionToc ~ .likesubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc {margin-left:4em;}
.chapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .chapterToc ~ .sectionToc ~ .subsectionToc ~ .subsubsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likechapterToc ~ .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likechapterToc ~ .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc .likechapterToc ~ .sectionToc ~ .subsectionToc ~ .subsubsectionToc {margin-left:6em;}
 .likesectionToc , .sectionToc {margin-left:0em;}
 .likesectionToc ~ .likesubsectionToc, .likesectionToc ~ .subsectionToc, .sectionToc ~ .likesubsectionToc, .sectionToc ~ .subsectionToc {margin-left:2em;}
.likesectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .likesectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .likesectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .likesectionToc ~ .subsectionToc ~ .subsubsectionToc, .sectionToc ~ .likesubsectionToc ~ .likesubsubsectionToc, .sectionToc ~ .likesubsectionToc ~ .subsubsectionToc, .sectionToc ~ .subsectionToc ~ .likesubsubsectionToc, .sectionToc ~ .subsectionToc ~ .subsubsectionToc {margin-left:4em;}
 .likesubsectionToc, .subsectionToc {margin-left:0em;}
 .likesubsectionToc ~ .subsubsectionToc, .subsectionToc ~ .subsubsectionToc, {margin-left:2em;}
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
div.longtable{text-align:center;}
dt.thenomenclature{float:left; clear:left;}
div.boxedminipage{border : 1px solid; margin-top:1pt; margin-bottom:1pt;}
.ALCitem {width:2em; text-align:right;}
table.boxedverbatim {width:100%;}
 pre.boxedverbatim{border:solid 1px; padding-right:1em;} 
table.boxedverbatim {text-align:center;}
.listinginput p{ margin-bottom:0em; margin-top:0em; }
div.verbatiminput {font-family: monospace; white-space: nowrap; }
.lstlisting .label{margin-right:0.5em; }
div.lstlisting{font-family: monospace; white-space: nowrap; margin-top:0.5em; margin-bottom:0.5em; }
div.lstinputlisting{ font-family: monospace; white-space: nowrap; }
.lstinputlisting .label{margin-right:0.5em;}
.alltt P { margin-bottom : 0em; margin-top : 0em; }
.alltt { margin-bottom : 1em; margin-top : 1em; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
div.array {text-align:center;}
.figure img.graphics {margin-left:10%;}
div.algorithm table.caption { border-bottom: 1px solid black; margin-bottom:1pt; }
span#textcolor2{color:rgb(204,204,204)}
span#textcolor3{color:rgb(204,204,204)}
span#textcolor4{color:rgb(204,204,204)}
span#textcolor5{color:rgb(204,204,204)}
span#textcolor6{color:rgb(204,204,204)}
span#textcolor8{color:rgb(204,204,204)}
span#textcolor9{color:rgb(204,204,204)}
span#textcolor10{color:rgb(204,204,204)}
span#textcolor11{color:rgb(204,204,204)}
span#textcolor12{color:rgb(204,204,204)}
span#textcolor13{color:rgb(204,204,204)}
span#textcolor14{color:rgb(204,204,204)}
span#textcolor15{color:rgb(204,204,204)}
span#textcolor16{color:rgb(204,204,204)}
span#textcolor17{color:rgb(204,204,204)}
span#textcolor18{color:rgb(204,204,204)}
span#textcolor19{color:rgb(204,204,204)}
span#textcolor20{color:rgb(204,204,204)}
span#textcolor21{color:rgb(204,204,204)}
span#textcolor22{color:rgb(204,204,204)}
span#textcolor23{color:rgb(204,204,204)}
span#textcolor24{color:rgb(204,204,204)}
span#textcolor25{color:rgb(204,204,204)}
span#textcolor26{color:rgb(204,204,204)}
span#textcolor27{color:rgb(204,204,204)}
span#textcolor28{color:rgb(204,204,204)}
span#textcolor29{color:rgb(204,204,204)}
span#textcolor30{color:rgb(204,204,204)}
span#textcolor31{color:rgb(204,204,204)}
span#textcolor32{color:rgb(204,204,204)}
span#textcolor33{color:rgb(204,204,204)}
span#textcolor34{color:rgb(204,204,204)}
span#textcolor35{color:rgb(204,204,204)}
span#textcolor36{color:rgb(204,204,204)}
span#textcolor37{color:rgb(204,204,204)}
span#textcolor38{color:rgb(204,204,204)}
span#textcolor39{color:rgb(204,204,204)}
span#textcolor40{color:rgb(204,204,204)}
span#textcolor41{color:rgb(204,204,204)}
span#textcolor42{color:rgb(204,204,204)}
span#textcolor43{color:rgb(204,204,204)}
span#textcolor44{color:rgb(204,204,204)}
span#textcolor45{color:rgb(204,204,204)}
span#textcolor46{color:rgb(204,204,204)}
span#textcolor47{color:rgb(204,204,204)}
span#textcolor48{color:rgb(204,204,204)}
span#textcolor49{color:rgb(204,204,204)}
span#textcolor50{color:rgb(204,204,204)}
span#textcolor51{color:rgb(204,204,204)}
span#textcolor52{color:rgb(204,204,204)}
span#textcolor53{color:rgb(204,204,204)}
span#textcolor54{color:rgb(204,204,204)}
span#textcolor55{color:rgb(204,204,204)}
span#textcolor56{color:rgb(204,204,204)}
span#textcolor57{color:rgb(204,204,204)}
span#textcolor58{color:rgb(204,204,204)}
span#textcolor59{color:rgb(204,204,204)}
span#textcolor60{color:rgb(204,204,204)}
span#textcolor61{color:rgb(204,204,204)}
span#textcolor62{color:rgb(204,204,204)}
span#textcolor63{color:rgb(204,204,204)}
span#textcolor64{color:rgb(204,204,204)}
span#textcolor65{color:rgb(204,204,204)}
span#textcolor66{color:rgb(204,204,204)}
span#textcolor67{color:rgb(204,204,204)}
span#textcolor68{color:rgb(204,204,204)}
span#textcolor69{color:rgb(204,204,204)}
span#textcolor70{color:rgb(204,204,204)}
span#textcolor71{color:rgb(204,204,204)}
span#textcolor72{color:rgb(204,204,204)}
span#textcolor73{color:rgb(204,204,204)}
span#textcolor74{color:rgb(204,204,204)}
span#textcolor75{color:rgb(204,204,204)}
span#textcolor76{color:rgb(204,204,204)}
span#textcolor77{color:rgb(204,204,204)}
span#textcolor78{color:rgb(204,204,204)}
span#textcolor79{color:rgb(204,204,204)}
span#textcolor80{color:rgb(204,204,204)}
span#textcolor81{color:rgb(204,204,204)}
span#textcolor82{color:rgb(204,204,204)}
span#textcolor83{color:rgb(204,204,204)}
span#textcolor84{color:rgb(204,204,204)}
span#textcolor85{color:rgb(204,204,204)}
span#textcolor86{color:rgb(204,204,204)}
span#textcolor87{color:rgb(204,204,204)}
span#textcolor88{color:rgb(204,204,204)}
span#textcolor89{color:rgb(204,204,204)}
span#textcolor90{color:rgb(204,204,204)}
span#textcolor91{color:rgb(204,204,204)}
span#textcolor92{color:rgb(204,204,204)}
span#textcolor93{color:rgb(204,204,204)}
span#textcolor94{color:rgb(204,204,204)}
span#textcolor95{color:rgb(204,204,204)}
span#textcolor96{color:rgb(204,204,204)}
span#textcolor97{color:rgb(204,204,204)}
span#textcolor98{color:rgb(204,204,204)}
span#textcolor99{color:rgb(204,204,204)}
span#textcolor100{color:rgb(204,204,204)}
span#textcolor101{color:rgb(204,204,204)}
span#textcolor102{color:rgb(204,204,204)}
span#textcolor103{color:rgb(204,204,204)}
span#textcolor104{color:rgb(204,204,204)}
span#textcolor105{color:rgb(204,204,204)}
span#textcolor106{color:rgb(204,204,204)}
span#textcolor107{color:rgb(204,204,204)}
span#textcolor108{color:rgb(204,204,204)}
span#textcolor109{color:rgb(204,204,204)}
span#textcolor110{color:rgb(204,204,204)}
span#textcolor111{color:rgb(204,204,204)}
span#textcolor112{color:rgb(204,204,204)}
span#textcolor113{color:rgb(204,204,204)}
span#textcolor114{color:rgb(204,204,204)}
span#textcolor115{color:rgb(204,204,204)}
span#textcolor116{color:rgb(204,204,204)}
span#textcolor117{color:rgb(204,204,204)}
span#textcolor118{color:rgb(204,204,204)}
span#textcolor119{color:rgb(204,204,204)}
span#textcolor120{color:rgb(204,204,204)}
span#textcolor121{color:rgb(204,204,204)}
span#textcolor122{color:rgb(204,204,204)}
span#textcolor123{color:rgb(204,204,204)}
span#textcolor124{color:rgb(204,204,204)}
span#textcolor125{color:rgb(204,204,204)}
span#textcolor126{color:rgb(204,204,204)}
span#textcolor127{color:rgb(204,204,204)}
span#textcolor128{color:rgb(204,204,204)}
span#textcolor129{color:rgb(204,204,204)}
span#textcolor130{color:rgb(204,204,204)}
span#textcolor131{color:rgb(204,204,204)}
span#textcolor132{color:rgb(204,204,204)}
span#textcolor133{color:rgb(204,204,204)}
span#textcolor134{color:rgb(204,204,204)}
span#textcolor135{color:rgb(204,204,204)}
span#textcolor136{color:rgb(204,204,204)}
span#textcolor137{color:rgb(204,204,204)}
span#textcolor138{color:rgb(204,204,204)}
span#textcolor139{color:rgb(204,204,204)}
span#textcolor140{color:rgb(204,204,204)}
span#textcolor141{color:rgb(204,204,204)}
span#textcolor142{color:rgb(204,204,204)}
span#textcolor143{color:rgb(204,204,204)}
span#textcolor144{color:rgb(204,204,204)}
span#textcolor145{color:rgb(204,204,204)}
span#textcolor146{color:rgb(204,204,204)}
span#textcolor147{color:rgb(204,204,204)}
span#textcolor148{color:rgb(204,204,204)}
span#textcolor149{color:rgb(204,204,204)}
span#textcolor150{color:rgb(204,204,204)}
span#textcolor151{color:rgb(204,204,204)}
span#textcolor152{color:rgb(204,204,204)}
span#textcolor153{color:rgb(204,204,204)}
span#textcolor154{color:rgb(204,204,204)}
span#textcolor155{color:rgb(204,204,204)}
span#textcolor156{color:rgb(204,204,204)}
span#textcolor157{color:rgb(204,204,204)}
span#textcolor158{color:rgb(204,204,204)}
span#textcolor159{color:rgb(204,204,204)}
span#textcolor160{color:rgb(204,204,204)}
span#textcolor161{color:rgb(204,204,204)}
span#textcolor162{color:rgb(204,204,204)}
span#textcolor163{color:rgb(204,204,204)}
span#textcolor164{color:rgb(204,204,204)}
span#textcolor165{color:rgb(204,204,204)}
span#textcolor166{color:rgb(204,204,204)}
span#textcolor167{color:rgb(204,204,204)}
span#textcolor168{color:rgb(204,204,204)}
span#textcolor169{color:rgb(204,204,204)}
span#textcolor170{color:rgb(204,204,204)}
span#textcolor171{color:rgb(204,204,204)}
span#textcolor172{color:rgb(204,204,204)}
span#textcolor173{color:rgb(204,204,204)}
span#textcolor174{color:rgb(204,204,204)}
span#textcolor175{color:rgb(204,204,204)}
span#textcolor176{color:rgb(204,204,204)}
span#textcolor177{color:rgb(204,204,204)}
span#textcolor178{color:rgb(204,204,204)}
/* end css.sty */

